# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.iml

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Vite
.vite
